*{
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium';
}
.banner{
    width: 100;
    height: 100vh;
    background-image: linear-gradient(rgba(85, 97, 95, 0.75),rgba(25, 25, 39, 0.75)),url("pilogo.jpg");
    background-size: cover;

    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 55px 0;
    display: list-item;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 35px;
    position: relative;
}

.navbar ul li a{
    text-decoration: wavy;
    color: #fff;
    text-transform: uppercase;

}
.navbar ul li::after{
    content: '';
    height: 5px;
    width: 100%;
    background: #f2f2f7;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.content{
    width: 100%;
    position: absolute;
    top: auto;
    transform: translate3d(45);
    text-align: center;
    color:whitesmoke;
}
.content h1{
    font-size: 80px;
    font-style: italic;
    margin-top: 100px;
    color: ivory;
    position: -ms-page;
    
}
.content p{
    margin: 25px auto;
    font-weight: 100;
    line-height: 25px;
    color: seashell;
}